<launch>
  <arg name="launch_roswww" default="true" />
  <include file="$(find roswww)/launch/roswww.launch"
           if="$(arg launch_roswww)">
    <arg name="port" value="8000" />
  </include>

  <node pkg="roswww" type="webserver.py" name="roswww">
  </node>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="8888" />
  </include>
  <node pkg="rwt_plot" type="random_float.py" name="$(anon random_float)">
  </node>
  <node pkg="rwt_plot" type="random_point.py" name="$(anon random_point)">
  </node>
  <node pkg="rwt_plot" type="sin.py" name="$(anon sin)"></node>
  <node pkg="rwt_plot" type="cos.py" name="$(anon cos)"></node>
  <node pkg="rwt_plot" type="array.py" name="$(anon array)"></node>
</launch>
