<launch>
  <node pkg="roswww" type="webserver.py" name="roswww">
  </node>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <node pkg="rwt_plot" type="random_float.py" name="$(anon random_float)">
  </node>
  <node pkg="rwt_plot" type="random_point.py" name="$(anon random_point)">
  </node>
</launch>