<launch>
  <arg name="launch_roswww" default="true" />
  <arg name="launch_websocket" default="true" />
  <arg name="roswww_port" default="8000" />
  <arg name="websocket_port" default="9090" />

  <include file="$(find roswww)/launch/roswww.launch"
           if="$(arg launch_roswww)">
    <arg name="port" value="$(arg roswww_port)" />
  </include>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"
           if="$(arg launch_websocket)">
    <arg name="port" value="$(arg websocket_port)" />
  </include>
</launch>
