<launch>
  <arg name="launch_roswww" default="true" />
  <arg name="launch_rosbridge_websocket" default="true" />
  <arg name="launch_web_video_server" default="true" />

  <include file="$(find roswww)/launch/roswww.launch"
           if="$(arg launch_roswww)">
    <arg name="port" value="8000" />
  </include>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"
           if="$(arg launch_rosbridge_websocket)">
    <arg name="port" value="9090" />
  </include>

  <node pkg="web_video_server" type="web_video_server"
        name="web_video_server" if="$(arg launch_web_video_server)"
        output="screen"
        clear_params="true">
    <param name="port" value="8080" />
  </node>
</launch>
