.inner-list-window {
  overflow: scroll;
}
.inner-list-window.short-window {
  height: 200px;
}
.inner-list-window .glyphicon {
  color: red;
  margin-right: 5px;
}
#modal .modal-body {
  padding-top: 5px;
  padding-bottom: 5px;
}
#modal dl {
  margin-top: 0px;
}
#modal dl dt {
  float: left;
  clear: both;
  font-weight: bold;
  margin-right: 5px;
}
