// rwt_robot_monitor.less
.inner-list-window {
    overflow: scroll;
    &.short-window {
        height: 200px;
    }
    .glyphicon {
        color: red;
        margin-right: 5px;
    }
}

#modal {
    .modal-body {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    dl {
        margin-top: 0px;
        dt {
            float: left;
            clear: both;
            font-weight: bold;
            margin-right: 5px;
        }
        dd {
        }
    }
}
