<launch>
  <!-- This simple launch should be kept to serve as backward compatibility. -->
  
  <arg name="fixed_frame" default="/BASE" />
  <arg name="is_sim" default="true" />
  <arg name="roswww_port" default="8000" />
  <arg name="use_roswww" default="true" />

  <include file="$(find rwt_moveit)/launch/run.launch">
    <arg name="fixed_frame" value="$(arg fixed_frame)" />
    <arg name="is_sim" value="$(arg is_sim)" />
    <arg name="roswww_port" value="$(arg roswww_port)" />
    <arg name="use_roswww" value="$(arg use_roswww)" />
  </include>
</launch>
